body {
  background-color: #6C2FB2;
}
.container {
  background-color: #fffec9;
  border-radius: 25px;
  padding-bottom:50px;
}
h1 {
  color: #B2B123;
  font-size: 4em;
  line-height: 3;
  text-align: center;
  font-family: 'Comfortaa', Arial, sans-serif;;
  text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.5);
}

#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}
